body {
  margin: 0;
  font-family: 'Golos Text', sans-serif;
  color: #101012;
}

.title h1{
  font-weight: bold;
  text-align: center;
  color: #027782;
}

main > header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}


main > header .menu {
  display: flex;
  align-items: center;
  gap: 1em;
}


main > header .menu .brand {
  font-size: 3em;
  font-weight: bold;
  color: #027782;
  margin-right: auto;
  letter-spacing: -3px;
  margin-left: -0.5em;
}

main > header .menu a {
  align-items: center;
  position: relative;
  font-size: 25px;
  color: #101012;
  text-decoration: none;
  padding: 0 30px;
  display: inline-block;
  transition: background-color 0.3s;
  text-align: center;
  line-height: 40px;
}

main > header .right-section {
  display: flex;
  align-items: center;
  gap: 1em; 
  padding-right: 0.5em;
}

main > header .menu form {
  align-items: center;
  width: 45em;
  margin: 0;
}

main > header form .search-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
  border: 1px solid #979797;
  border-radius: 5px;
  background-color: #F2F2F2;
}


main > header .search-wrapper .magnifying-glass {
  align-items: center;
  font-size: 18px;
  color: #767676;
  margin-left: 10px;
}

main > header form .search-wrapper input {
  background-color: #F2F2F2;
  flex-grow: 1;
  border-radius: 0px 10px 10px 0px;
  margin: 0;
  border: none;
  padding: 8px 2px;
  box-sizing: border-box;
}

main > header .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main > header .profile img {
  width: 3.2em;
  cursor: pointer;
  border: 1px solid #979797;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  main > header .profile img:hover {
      transform: translateY(-0.3125rem); 
  }


main > header .balance-box {
  color: #ffffff;
  background-color: #027782; 
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  padding: 0.5em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > header .balance-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  transform: skewX(-45deg);
  transition: all 0.5s ease;
  z-index: 0;
}

main > header .balance-box:hover::before {
  left: 100%;
}

main > header .balance-box:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  color: #ffffff;
}


.right-section .icon {
  margin-right: 10px;
  font-size: 23px;
  color: #767676;
  text-decoration: none;
}

.right-section .icon:hover {
  color: #027782; 
}

.shadow-xl {
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3), 
              0 6px 15px rgba(0, 0, 0, 0.2), 
              0 10px 25px rgba(0, 0, 0, 0.1);
}

#notification-box > div:last-child {
  border-bottom: none;
}

.notification-item:hover {
  background-color: #f8f9fa; /* Slight grey */
  cursor: pointer;
}

.shadow-xl {
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3), 
              0 6px 15px rgba(0, 0, 0, 0.2), 
              0 10px 25px rgba(0, 0, 0, 0.1);
}

#notification-box > div:last-child {
  border-bottom: none;
}

.notification-item:hover {
  background-color: #f8f9fa; /* Slight grey */
  cursor: pointer;
}

.balance-amount {
  text-decoration: none;
  font-size: 0.75em;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.medium-button {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  width: 9.5em;
  height: 2em;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #027782;
  cursor: pointer;
  margin-top: 2em;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
}


.medium-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  transform: skewX(-45deg);
  transition: all 0.5s ease;
  z-index: 0;
}

.medium-button:hover::before {
  left: 100%;
}

.medium-button:hover {
  background: #027782;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  color: #FFFFFF;
}

.profile-buttons a {
  text-decoration: none;
  color: white;
  background-color: #027782;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.profile-stats-divider {
  border: none;
  height: 3px;
  background: #027782;
  margin: 20px 0;
}

.numbers-division {
  border: 4px solid #027782;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

#stats.numbers-division {
  padding-right: 3em;
  height: 10em !important;
}

#rating.numbers-division {
  height: 4em !important;
  width:fit-content;
}

.numbers-division p {
  color: #101012;
  margin: 0;
  text-align: center;
  padding-left: 1em;
}

.buttons-rating-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  gap: 1em;
  margin-top: 1em;
}

.buttons-rating-container button {
  height: 3em;
  width: 14em;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  background: #027782;
  color: #ffffff;
  cursor: pointer;
}


.pagination {
    display: flex;
    justify-content: center; 
    margin: 0; 
    font-size: 1.3rem; 
}

.pagination .page-item {
    margin: 0 0.75rem; /* Increased margin for more spacing between items */
}

.pagination .page-link {
    color: #027782; 
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6; 
    border-radius: 0.25rem; 
    padding: 1rem 1.25rem; /* Increased padding for bigger clickable area */
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.pagination .page-link:hover {
    background-color: #027782; 
    color: #fff; 
}

.pagination .page-item.active .page-link {
    background-color: #027782; 
    color: #fff; 
    border-color: #027782; 
}

.pagination .page-item.disabled .page-link {
    color: #6c757d; 
    background-color: #e9ecef; 
    border-color: #dee2e6; 
}


#rating {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 0.5em;
  text-align: center;
  font-size: 1.2em;
  border: 2px solid #962622;
  border-radius: 5px;
  min-width: 5em;
  justify-content: center; 
  text-align: center;
}

#rating p {
  font-weight: bold;
  font-size: 0.9em;
  color: #101012;
  margin-right: 1em;
}


#rating strong {
  font-size: 3em;
  color: #101012;
  margin-right: 0em;
}

#rating.numbers-division {
  margin-top: -0.5em;
  height: 7.5em !important;
  width: 10em;
}

.auth-headline {
  text-align: center;
  margin-bottom: 1.5rem;
}

.auth-headline h1 {
  font-size: 3rem;
  color: #101012;
  margin-bottom: 0.5rem;
}

.auth-headline h1 span {
  color: #027782;
}

.auth-headline h3 {
  font-size: 2rem;
  color: #666;
}

.auth-headline h3 a {
  color: #027782;
  text-decoration: none;
  font-weight: bold;
}

.form-container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  width: 50vw;
  text-align: center;
  position: absolute; 
  left: 50%; 
  transform: translate(-50%, 10%); 
}


form input {
  padding: 0.8em;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

form input:focus {
  border-color: #027782;
  outline: none;
  box-shadow: 0 0 0.2rem rgba(2, 119, 130, 0.25);
}

.auth-button {
  background-color: #027782;
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.auth-button:hover {
  background-color: #025e63;
}

.divider hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1rem 0;
}

.social-login {
  margin-top: 1rem;
}

.google-button {
  display: inline-block;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: #666;
}

.google-button:hover {
  background-color: #f8f8f8;
}

.google-button img {
  margin-right: 0.5rem;
}

#content > .form-container form input {
  background-color: #F2F2F2;
  text-align: center;
  padding: 1.5em;
}

.auth-button {
  position: relative; 
  width: 6em;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #027782;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden; 
}

.auth-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%; 
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  transform: skewX(-45deg);
  transition: all 0.5s ease;
  z-index: 0;
}

.auth-button:hover::before {
  left: 100%; 
}

.auth-button:hover {
  background: #027782;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  color: #FFFFFF;
}


  .form-container {
    margin: 0 auto;
    max-width: 1200px;
    max-height: 1000px;
    border-radius: 20px;
  }

  .login-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  .name-container {
    display: flex;
    gap: 50px;
  }

  .first-name-box,
  .last-name-box {
      flex: 1;
  }

.coming-soon {
  display: flex;
  font-size: 50px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.two-column-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 0.5rem; 
    list-style-type: none; 
    padding: 0; 
    margin: 0 auto; 
    justify-content: center;
    align-items: stretch;
    max-width: 100em;
}

.two-column-list a {
    width: calc(50% - 1rem); 
    box-sizing: border-box; 
    text-decoration: none; 
    margin:0;
}

.divider hr {
  border: 0;
  height: 1px;
  background-color: #ccc; 
  margin: 20px 0; 
  width: 100%; 
}

.forgot-password {
  display: block; 
  text-align: right;
  margin-top: -0.5rem; 
}

.form-group {
  margin-bottom: 1rem; 
  position: relative; 
}

input {
  display: block; 
  width: 100%; 
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: 1rem;
  box-sizing: border-box; 
}

input:focus {
  border-color: #027782;
  outline: none;
  box-shadow: 0 0 0.2rem rgba(2, 119, 130, 0.25);
}

.error {
  color: #d9534f; 
  font-size: 0.9rem; 
  margin-top: 0.25rem;
  background-color: #f9e2e2; 
  padding: 0.5rem;
  border: 1px solid #d9534f; 
  border-radius: 0.25rem; 
  width: 100%; 
  box-sizing: border-box;
}





@media (max-width: 768px) {
  main > header {
    display: flex;
    flex-direction: column; 
    padding: 1em 0.5em;
  }

  main > header .menu {
    flex-direction: column; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    margin-bottom: 1em;
  }

  main > header .menu .brand {
    font-size: 30px;
    text-align: left; 
  }

  main > header form {
    width: 100%; 
    margin: 0;
    display: flex;
    justify-content: center;
  }

  main > header form .search-wrapper {
    display: flex; 
    justify-content: center; 
    width: 93vw;
    max-width: 500px; 
    margin: 0 auto; 
  }

  main > header form .search-wrapper input {
    font-size: 14px; 
    padding: 0.5em; 
    box-sizing: border-box;
    width: 100%; 
    align-items: center;
  }

  main > header .right-section {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-shrink: 0; 
    position: absolute; 
    top: 1em;
    right: 0.5em;
  }

  .right-section .icon {
    font-size: 17px;
  }

  main > header .profile img {
    width: 2em;
    cursor: pointer;
    border: 1px solid #979797;
    border-radius: 50%;
    object-fit: cover;
  }

  .auth-headline h3 {
    font-size: 1rem;
    color: #666;
  }
  .auth-headline h1 {
    font-size: 2rem;
    color: #666;
  }
  .auth-button {
    font-size: 0.9rem;
    width: 100%;
    padding: 0.6em;
  }

  .google-button {
    font-size: 0.9rem;
  }

  .form-container {
    width: 90vw; 
    padding: 1.5em;
  }

  .form-container h1 {
    font-size: 1.5rem; 
  }

  .medium-button {
    width: 100%;
    font-size: 1rem;
  }
  #content > .form-container form input{
    height:2em;
  }

  .pagination {
      display: flex;
      justify-content: center; 
      margin: 0; 
      font-size: 0.8rem; 
  }
}