.big-picture {
  width: 10em;
  height: 10em;
  border: 1px solid black;
  border-radius: 100px;
}

.profile-page {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.profile-container {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: self-start;
  gap: 20px;
}

.profile-info {
  flex-grow: 1;
  margin-top: 0;
  padding-top: 0;
}

.profile-picture a {
  text-decoration: none; 
}

.button-profile-picture {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12em;
  font-size: 1em;
  border: 2px solid #027782;
  border-radius: 10px;
  color: #027782;
  cursor: pointer;
  margin-top: 1.5em;
}

.profile-info h2 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  background-color: #027782;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-info p {
  font-size: 1em;
  margin: 0;
  color: #979797;
  margin-bottom: 10px;
}

.user-tabs {
  width: 100%;
  margin-top: 20px;
}

.tab-navigation {
  border-bottom: 2px solid #979797; 
  display: flex;
  gap: 3em;
  margin-bottom: 20px;
  position: relative;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background: none;
  color: #979797;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.tab-button::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #027782;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.tab-button.active {
  font-weight: bolder;
  color: #027782;
}

.tab-button.active::after,
.tab-button:hover::after {
  width: 100%;
}

.tab-content {
  display: none;
  width: 100%;
}

.tab-content.active {
  display: block;
}

@media (max-width: 768px) {



  .home-auction{
    width: 12em!important;
    border:none;
  }
  .auctions {
    display: flex;
    flex-direction: column; 
    overflow-y: auto; 
    align-items: center;
    overflow-x:visible;
    gap: 5em;
    flex-wrap: nowrap;
    padding: 10px 0;
    margin-top: 0px!important;
    height: 23em!important;
}

  .profile-page {
    flex-direction: column; 
    align-items: center;
  }

  .profile-container {
    margin-left: -3.5em;
    margin-top: -2.5em;
    padding: 15px;
    gap: 20px;
  }

  .big-picture {
    width: 8em; 
    height: 8em;
  }

  .profile-info h2 {
    font-size: 2em;
  }

  .profile-info p {
    font-size: 0.9em;
  }

  .button-profile-picture {
    width: 90%; 
    font-size: 1em;
    margin-top: 1em;
  }

  .tab-navigation {
    border-bottom: transparent; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }


  .tab-button {
    text-align: center; 
    padding: 10px; 
    font-size: 1em; 
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    color: #027782; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .tab-button:hover,
  .tab-button.active {
    background-color: #027782; 
    color: #fff; 
  }
  
    .tab-button {
      font-size: 1em; 
      padding: 10px; 
      text-align: center; 
      border-radius: 5px; 
      color: #027782;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 100%; 
    }
  
    .tab-button:hover,
    .tab-button.active {
      background-color: #027782; 
      color: #fff; 
    }
  
    .tab-content {
      height: 26em;
      width: 14em; 
      margin-top: 20px; 
      padding: 10px;
      border: 1px solid #ddd; 
      border-radius: 5px;
      background-color: #fff; 
    }

    #balance,
    #bids{
      border:none;
    }

}
