  .reportform {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}


.reportform-content {
    background: #ffffff;
    padding: 1em 2em;
    border-radius: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
    animation: slideIn 0.3s ease-out;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}


.close {
    float: right;
    font-size: 25px;
    cursor: pointer;
    color: #333;
}

.close:hover {
    color: #101012;
}


.reportform-content h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;   
    text-align: center;
    color: #333;
}

.reportform-content form {
    margin: 0;
}


.reportform-content form p {
    font-size: 1rem;
    color: #666;
}

.reportform-content div {
    display: flex; 
    gap: 8px; 
    margin-bottom: 10px; 
}

.reportform-content input {
    width: 1em;
    margin: 0  0.5em 0 0; 
    padding: 0; 
}



.reportform-content label {
    display: flex; 
    align-items: center; 
    font-size: 1rem;
    line-height: 1.2;
}


.reportform-content textarea {
    width:100%;
    height: 60px;
    margin: 10px 0;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}

.report-button-content{
    display: flex;
    justify-content: center; 

}
    

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

.popup button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#loading-popup {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 16px;
    padding: 15px;
}


.popup-success {
    background-color: #28a745; 
}

.popup-error {
    background-color: #dc3545; 
}


.popup-warning {
    background-color: #ffc107; 
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}



@media (max-width: 500px) {
    .reportform-content {
        padding: 15px;
    }

    .reportform-content h2 {
        font-size: 16px;
    }
}



